/* :root { */
  /* --bg-color: rgb(255, 255, 255); */
  /* --bg-color: rgb(80, 28, 28);
  --card-color: rgb(23, 23, 23); */
  /* --card-color: rgb(240, 240, 240); */
  /* --text-color: rgb(0, 0, 0);
  --link-color: rgb(0, 123, 255); */
  /* --card-color: rgb(23, 23, 23); */
  /* --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  ); */
/* } */